{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest/globals": true
  },
  "rules": {
    "semi": "off",
    "require-jsdoc": "off",
    "space-before-blocks": "off",
    "indent": "off",
    "operator-linebreak": "off",
    "space-before-function-paren": "off",
    "no-extra-semi": "off"
  },
  "plugins": ["jest"],
  "extends": ["eslint:recommended", "google"]
}
